* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.box-one,
.box-two,
.box-three,
.box-four {
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: absolute;
}

.box-two {
    background-color: red;
    right: 0;
}

.box-three {
    background-color: green;
    bottom: 0;
}

.box-four {
    background-color: purple;
    bottom: 0;
    right: 0;
}

.five {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-five {
    width: 200px;
    height: 200px;
    background-color: blue;
}